* {
    font-family: Georgia;
}

header {
    background-color: #339DF2;
    color: #fcd836;
    width: 100%;
    text-align: center;
}

footer {
    background-color: #339DF2; 
    color: #fcd836;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

nav {
    padding-bottom: 5px;
}

nav a {
    color: #fcd836;
    padding: 5px;
}

nav a:hover {
    color: purple;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fcd836;
    background-image: url('https://www.transparenttextures.com/patterns/brushed-alum-dark.png');
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
    
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    color: #339DF2;
}

h2 {
    color: #339DF2;
}

.contact-form {
    background-color: #339DF2;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #339DF2;
    width: 420px;
}

.contact-form h2, p {
    text-align: center;
    margin-bottom: 20px;
    color: #fcd836;
}

.contact-form label {
    color: #fcd836;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.contact-form input, 
.contact-form select, 
.contact-form textarea {
    width: 80%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #fcd836;
}

.contact-form input[type="color"],
.contact-form input[type="range"] {
    padding: 2px;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

.contact-form button:hover {
    text-decoration: underline;
    background: #fcd836;
    color: #339DF2;
    border-radius: 5px;
    box-shadow: 0 4px 10px #fcd836;
}

.inline-options {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/*Table for JS assignment*/
/* # locates and selects an ID*/
#resultContainer {
    margin-top: 30px;
    background: #339DF2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #339DF2;
    width: 80%;
    max-width: 700px;
}

#resultTable {
    width: 100%;
    border-collapse: collapse;
}

#resultTable th, #resultTable td {
    border: 1 solid #fcd836;
    padding: 10px;
    text-align: left;
}

#resultTable th {
    background-color: #fcd836;
    color:#339DF2
}

#resultTable tbody {
    color: #fcd836;
}