* {
    font-family: Georgia;
}

header {
    background-color: #339DF2;
    color: #fcd836;
    width: 100%;
}

footer {
    background-color: #339DF2; 
    color: #fcd836;
    width: 100%;
    text-align: center;
}

nav {
    padding-bottom: 5px;
}

nav a {
    color: #fcd836;
    padding: 5px;
}

body {
    background-color: #fcd836;
    background-image: url('https://www.transparenttextures.com/patterns/brushed-alum-dark.png');
    font-family: Georgia;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #339DF2;
}

section {
    padding: 10pt;
}

figcaption {
    font-size: 12pt;
}

.headshot-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.current-school {
    width: 500px;
    height: 300px;
    border-radius: 20px;
}

.map {
    padding-top: 20px;
    border-radius: 10px;
}